<style>
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
    *, *:before, *:after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    body {
      background: #105469;
      font-family: 'Open Sans', sans-serif;
    }
    table {
      background: #012B39;
      border-radius: 0.25em;
      border-collapse: collapse;
      margin: 25 auto;
    }
    th {
      border-bottom: 1px solid #364043;
      color: #E2B842;
      font-size: 0.85em;
      font-weight: 600;
      padding: 0.5em 1em;
      text-align: center;
    }
    td {
      color: #fff;
      font-weight: 400;
      padding: 0.65em 1em;
      text-align: center;
    }
    .disabled td {
      color: #4F5F64;
    }
    tbody tr {
      transition: background 0.25s ease;
    }
    tbody tr:hover {
      background: #014055;
    }
  </style>
<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Endereço</th>
        <th>CPF</th>
        <th>CEP</th>
      </tr>
    </thead>
    <tbody>
        <% if (clientes.length > 0) { %>
        <% clientes.forEach(cliente => { %>
            <tr>
            <td><%= cliente.id %></td>
            <td><%= cliente.nome %></td>
            <td><%= cliente.email %></td>
            <td><%= cliente.telefone %></td>
            <td><%= cliente.endereco %></td>
            <td><%= cliente.cpf %></td>
            <td><%= cliente.cep %></td>
            </tr>
            <% }) %>
            <% } else { %>
                <tr>
                  <td colspan="3">Nenhum dado disponível</td>
                </tr>
              <% } %>
    </tbody>
<table